<!doctype html><html><body><%- include('../partials/header') %><main><h2>Game</h2><div id="state"></div></main><%- include('../partials/footer') %><script src="/public/js/game.js"></script></body></html>
